body {
    padding: 10px;
    font-family: sans-serif;
    background-color: antiquewhite;
  
  }
  
  header {
    background-color: aqua;
  }
  
  
  footer {
    background-color: gold;
  }
  
  
  